/* General */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h2{
  padding:15px;
  text-align: center;
  font-size: 30px;
}

h3{
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: #2224EF;
  font-size:22px; 
  text-align: center;
}

h4{
  padding-top: 15px;
  padding-left: 35px;
}
p{
  font-size: 15px;
  padding:35px;
  padding-top: 15px;
}

footer p{
  padding:0px;
}


.blueText{
  font-weight: bold;
  color: #2224EF;
}

.bold{
  font-weight: bold;
}

.blocks{
  display: block;
}
/* End of General */

/* Big Numbers https://codepen.io/secondfret/pen/oexuc*/
.bigNumbers{
  position: absolute;
  padding-left: 45px;
  font: bold italic 40px/1.5 "Montserrat", sans-serif;
  color: gray;
}

.big{
  padding-left: 110px;
}

/* Skip */
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

/* End of Skip */

/* Navigation */
.logo {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.main_nav {
  margin-top: 5px;
  font-size: 18px;

}

.logo a, .main_nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}
 
.main_nav a:hover {
  color: #2224EF;
  text-decoration: overline underline;
}

.header {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #2224EF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}

/* Shit that did not work

#edebfe



.main_nav .dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  margin:0;
  list-style: none;
  width: 100%
  padding:0;
}

.dropdown:hover{
  display: block;
}

.dropdown a{
  display: block;
  background:#f2f2f2;
}
*/

/* End of Navigation */


/* Parallex */
.parallex{
  background-color: #595959;
  background-attachment: fixed;   
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;       
  height: 250px;                
  grid-column: 1 / -1;
  grid-row-start: 2;
  z-index: 1;

}

/*https://www.youtube.com/watch?v=bUZJvK6Rv1I*/
.withinParallex{
  padding:0;
  margin:0;
  font-size: 40px;
  margin:auto;
  text-align: center;
  position:relative;
  top:50%;
  color: black;
  transform:translateY(-50%);
}

#comerica{
  background-image:url("../images/sticky.jpg");
}

#repayd{
  background-image:url("../images/repayd.jpg");
}
/* End of Parallex */



/*Homepage */

#intro_image {
  display: block;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

#intro_text{
  text-align: center;
  padding:40px;
  margin-left: auto;
  margin-right: auto;
}

.work_pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.work_pics img{
  margin:15px;
  height: 300px;
  width: 400px;

}

/* End of Homepage */


/* Flip Card */
.flip {
  background-color: transparent;
  width: 500;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip:hover .flip-card-inner,.flip:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip img {
  width:500px;
  height:400px;
}
/* End of Flip Card */

/* Footer */
/* I learned how to create the rotating icons from the following site https://codepen.io/azziye/pen/bGNerRj
I did go through and create new icons for Etsy and Github by using FontAwesome since those were not in the example. 
I also altered sizes for the different media queries*/ 
footer{
  grid-column: 1 / -1;  
  grid-row: 7 / auto;   
  padding: 30px;
  text-align: center;
}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  padding-top: 10px;
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  color: #fefefe;
  transition: all 0.5s ease;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 35px;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons, .fa-linkedin, .fa-etsy, .fa-github-alt {
  font-size: 20px;
}

.rounded-social-buttons .social-button.etsy {
  background: #eb6d20;
}

.rounded-social-buttons .social-button.etsy:hover, .rounded-social-buttons .social-button.etsy:focus {
  color: #eb6d20;
  background: #fefefe;
  border-color: #eb6d20;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #24292e;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #24292e;
  background: #fefefe;
  border-color: #24292e;
}
/* End of Footer */




/* Tablet View */
@media all and (min-width: 600px) {
  .header,.main_nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .parallex{
    height: 350px; 
  }

  .work_pics img{
    height: 400px;
    width: 575px;

  }
}


/* Desktop View */
@media all and (min-width: 786px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .rounded-social-buttons .social-button {
    width: 35px;
    height: 35px;
    font-size: 12px;
    line-height: 45px;
  }

  .rounded-social-buttons, .fa-linkedin, .fa-etsy, .fa-github-alt {
    font-size: 22px;
  }

  .parallex{
    height: 450px; 
  }

  .work_pics img{
    height: 450px;
    width: 650px;
  }

  .intro{
    display: flex;
    align-items: center;
  }

  #intro_text{
    text-align: left;
    font-size: 25px;
  }

  #intro_image{
    width: 25%;
    padding: 50px;
  }


}









































/* https://www.youtube.com/watch?v=WsspKNtaCIg 

  position: absolute;
  top: 50%; 
  left: 50%;
  transform:translateX(-50%)translateY(-50%);  





  .work{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 600px;
}

.work > img{
  margin: 10px;
  width: 50%
  padding:5px;
}

  */







}




















/*

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}



header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2224EF;

}

#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: black;
  padding: 20px 20px;
  text-decoration:none;
}

.main_nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.nav_item a{
  color: black;
  text-decoration: none;
  font-size: 18px;
}


.nav_item a:hover {
  color: #2224EF;
  text-decoration: overline underline;
}


@media screen and (min-width: 850px){
  header{
    flex-direction: row;
  }

  .main_nav{
    flex-direction: row;
    justify-content: space-between;
    
  }

  .nav_item a{
    padding: 10px;
  }

}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
}



footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
*/ 
